<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand fa fa-quora fa-2x" style="color: skyblue" href="#">uotes</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li class="active"><a href="/post">Post</a></li>
        <li class="active"><a href="/contact">Contact Us</a></li>
        <li class="active"><a href="#">Account</a></li>
      </ul>
    </div>
  </nav>