<%-include('./partials/head.ejs') %>
<link rel="stylesheet" href="../public/form.css">
</head>

<body style="background-color: black;">
<%-include('./partials/nav.ejs') %>

<main style = " height: 60%;
width: 50%;
border: 5px;
text-align: center;
margin-left: 330px;
margin-top: 150px;">
    
    <form action="#" method="POST" style="align-self: center;">
        <div class="form-group">
          <input type="text" class="form-control" style=" align-self: center; height: 70px; "  placeholder="Message">
        </div>
        <button type="submit" class="btn btn-primary btn-lg"> Send </button>
      </form>
</main>

<%-include('./partials/end.ejs') %>