<%-include('./partials/head.ejs') %>
</head>

<body style="background-color: papayawhip;">
<%-include('./partials/nav.ejs') %>
<main class="main" >

    <h1 class="heading " style="
    text-align: center;
    color: darkcyan;
    font-weight: bolder;
    margin-top: 200px;
    ">
    Welcome to Quotes!  </h1>

    <h2 class="paragraph" style="
    text-align: center;
    color: cyan;
    font-weight: bold;
    margin-top: 100px;
    ">
    Spread your smile and see the miracle...
    </h2>

</main>


<%-include('./partials/end.ejs') %>
