<%-include('./partials/head.ejs') %>
</head>

<body style="background-color: rgb(158, 224, 113);">
<%-include('./partials/nav.ejs') %>
<main class="main" >

    <h1 class="heading " style="
    text-align: center;
    color: rgb(24, 53, 218);
    font-weight: bolder;
    margin-top: 150px;
    font-size: 50px;
    ">
    Welcome to Quotes!  </h1>

    <h2 class="paragraph" style="
    text-align: center;
    color: rgb(14, 46, 46);
    font-weight: bold;
    margin-top: 100px;
    ">
   
    "IF PEOPLE ARE <br> TRYING TO BRING YOU <br> <span style="color:rgb(156, 11, 113); font-size: 40px; font-weight: bolder;">DOWN</span>  <br> IT ONLY MEANS YOU <br> ARE ABOVE THEM"
    </h2>

</main>


<%-include('./partials/end.ejs') %>
